@model WebApp.ViewModels.PersonType.DetailsViewModel

<h1>Details</h1>

<div>
    <h4>PersonType</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonType.PersonTypeValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonType.PersonTypeValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonType.SecondaryPersonTypeValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonType.SecondaryPersonTypeValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonType.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonType.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonType.CreateAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonType.CreateAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonType.UpdateBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonType.UpdateBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonType.UpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonType.UpdatedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PersonType.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
