@model WebApp.ViewModels.BloodTest.DetailsViewModel;

<h1>@Resources.Views.Shared._Layout.Details</h1>

<div>
    <h4>@Resources.DTO.App.V1.Overall.BloodTest</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BloodTest.Allowed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BloodTest.Allowed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BloodTest.BloodGroup!.BloodGroupValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BloodTest.BloodGroup!.BloodGroupValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BloodTest.Donor)
        </dt>
        <dd class = "col-sm-10">
            <a asp-area="" asp-controller="Persons" asp-route-id="@Model.BloodTest.DonorId" >
                @Html.DisplayFor(model => model.BloodTest.Donor!.FullName) 
            </a>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BloodTest.Doctor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BloodTest.Doctor!.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BloodTest.Comments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BloodTest.Comments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BloodTest.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BloodTest.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BloodTest.CreateAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BloodTest.CreateAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BloodTest.UpdateBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BloodTest.UpdateBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BloodTest.UpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BloodTest.UpdatedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">@Resources.Views.Shared._Layout.BacktoList</a>
</div>
