@model WebApp.ViewModels.Contact.CreateViewModel;

<h1>@Resources.Views.Shared._Layout.Create</h1>

<h4>@Resources.DTO.App.V1.Overall.Contact</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <input type="hidden" asp-for="Contact.PersonId" value="@Model.Contact.PersonId" />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Contact.ContactValue" class="control-label"></label>
                <input asp-for="Contact.ContactValue" class="form-control"/>
                <span asp-validation-for="Contact.ContactValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.ContactTypeId" class="control-label"></label>
                <select asp-for="Contact.ContactTypeId" class="form-control" asp-items="@Model.ContactTypes">
                    <option></option>
                </select>
                <span asp-validation-for="Contact.ContactTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-personId="@Model.Contact.PersonId" >@Resources.Views.Shared._Layout.BacktoList</a>
</div>

