@model WebApp.ViewModels.BloodDonate.IndexViewModel

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BloodDonates.First()!.Donor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BloodDonates.First()!.Doctor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BloodDonates.First()!.BloodTest)
            </th>
            <th>
                @Html.DisplayNameFor(model =>  model.BloodDonates.First()!.BloodGroup)
            </th>
            <th>
                @Html.DisplayNameFor(model =>  model.BloodDonates.First()!.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model =>  model.BloodDonates.First()!.Available)
            </th>
            <th>
                @Html.DisplayNameFor(model =>  model.BloodDonates.First()!.ExpireDate)
            </th>
            <th>
                @Html.DisplayNameFor(model =>  model.BloodDonates.First()!.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model =>  model.BloodDonates.First()!.CreateAt)
            </th>
            <th>
                @Html.DisplayNameFor(model =>  model.BloodDonates.First()!.UpdateBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BloodDonates.First()!.UpdatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BloodDonates) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item!.Donor!.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item!.Doctor!.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item!.BloodTest!.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item!.BloodGroup!.BloodGroupValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item!.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item!.Available)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item!.ExpireDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item!.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item!.CreateAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item!.UpdateBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item!.UpdatedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item!.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item!.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item!.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
